<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>1.4</string>
	<key>category</key>
	<string>Tool</string>
	<key>connections</key>
	<dict>
		<key>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2D69546-2C9C-4008-B87B-5083669593BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5655678A-0732-4F92-99FE-43D4990C750D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65F994AE-2882-470C-81EC-1A59B982E6C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83C54359-7C2C-407C-81B8-CF18E8E46BA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83C54359-7C2C-407C-81B8-CF18E8E46BA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2D69546-2C9C-4008-B87B-5083669593BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D945DC9-84D7-4664-B35F-3139E4452494</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65F994AE-2882-470C-81EC-1A59B982E6C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC0AD26B-C27F-4E05-802D-B2DEA72EEB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2D69546-2C9C-4008-B87B-5083669593BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47CB8905-BA80-42D9-A0AA-4D32152F0754</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chandler Lu</string>
	<key>description</key>
	<string>OCR using multiple interfaces for Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Capture then OCR</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Screenshot to Recognise</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D945DC9-84D7-4664-B35F-3139E4452494</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -f "./screenshot.png" ]; then
  $PYTHON_PATH ./ocr_cnocr.py ./screenshot.png
  rm ./screenshot.png
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83C54359-7C2C-407C-81B8-CF18E8E46BA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -sx ./screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65F994AE-2882-470C-81EC-1A59B982E6C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -sx ./screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Capture then OCR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B2D69546-2C9C-4008-B87B-5083669593BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>47CB8905-BA80-42D9-A0AA-4D32152F0754</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5655678A-0732-4F92-99FE-43D4990C750D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -f "./screenshot.png" ]; then
  $PYTHON_PATH ./ocr_baidu.py ./screenshot.png
  rm ./screenshot.png
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./pngpaste/pngpaste ./screenshot.png</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ooc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Recognise from Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AC0AD26B-C27F-4E05-802D-B2DEA72EEB1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>1. CNOCR (只支持 Python3)
2. Baidu OCR (考虑到不能准确判别中英文符号，所有的英文逗号将被全部替换为中文逗号；但由于句点和括号可能存在其他用途，不做处理)</string>
	<key>uidata</key>
	<dict>
		<key>0B59C0D3-DF1F-4754-A97E-A1E2CAB72CB5</key>
		<dict>
			<key>note</key>
			<string>Baidu API</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>47CB8905-BA80-42D9-A0AA-4D32152F0754</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>4DFCC09B-FBC1-4F23-8808-0FBDE93E2AA6</key>
		<dict>
			<key>note</key>
			<string>pngpaste</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>5655678A-0732-4F92-99FE-43D4990C750D</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>65F994AE-2882-470C-81EC-1A59B982E6C3</key>
		<dict>
			<key>note</key>
			<string>screencapture</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>83C54359-7C2C-407C-81B8-CF18E8E46BA2</key>
		<dict>
			<key>note</key>
			<string>CNOCR</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>9D945DC9-84D7-4664-B35F-3139E4452494</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>AC0AD26B-C27F-4E05-802D-B2DEA72EEB1E</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>B2D69546-2C9C-4008-B87B-5083669593BD</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>CB6DFA53-6EBA-4514-B3DF-9D29D00AB83C</key>
		<dict>
			<key>note</key>
			<string>screencapture</string>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PYTHON_PATH</key>
		<string>/Users/chandler/anaconda3/bin/python3</string>
		<key>baidu_api_key</key>
		<string>rmMynojL9KapDOikDTgKlImy</string>
		<key>baidu_secret_key</key>
		<string>3QKoI1E56u16tEMdwBnpXSPNezdoZWFD</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>baidu_api_key</string>
		<string>baidu_secret_key</string>
		<string>PYTHON_PATH</string>
	</array>
	<key>version</key>
	<string>2.3</string>
	<key>webaddress</key>
	<string>https://github.com/Chandler-Lu/alfred-ocr</string>
</dict>
</plist>
